  /* основной цвет текста #434455 */
    /*  вторичний текст текста #2E2F42*/
    /* вторичній цвет фона #F4F4FD */
    /* основной цвет фона #E5E5E5 */
    /* цвет лого #4D5AE5 */
    /* цвет логос #2E2F42 */
    /* стилизируем основной боди, задаем основной цвет и осн.фон */
    /* фон адреса та емейл #434455 */
    /* змінні */
  
    :root {
      --paragraph-primary-color: #434455;
      --title-primary-color: #2E2F42;
      --title-secondary-color: #ffffff;
      --brand-color: #4D5AE5;
      --background-primary-color: #ffffff;
      --nav-link-color:#2E2F42;
      --contacts-link-color:#434455;
      --link-hover-color: #4D5AE5;
      --background-color-page: #FFFFFF;
    }

    html {
      box-sizing: border-box;
    }
    *,
*::before,
*::after {
  box-sizing: border-box;
}



    .container {
      width: 1260px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      outline: 2px solid tomato;

    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}


    
    body {
        color: var(--paragraph-primary-color);
            letter-spacing: 0.015em;
            font-size: 18px;
    }
/* убираем подчеркивание ссилки */
    .no-decoration . {
      text-decoration: none;
    }

     /* прибираємо чорні точки */
     ul {
      list-style: none;
          }

    /* стилізуємо лого */
    .logo {
      color: var(--brand-color);
      font-weight: 600;
      font-size: 16px;
      line-height: 0.02em;
      text-decoration: none;
    }
    .logos {
      color: var(--nav-link-color);
      text-decoration: none;
    }

    .foter-decoration .akcent {
      color: var(--title-secondary-color);
    }

   
      /* Novigation */
      
    .nav-link {
      color: var(--title-primary-color);
      font-weight: 600;
      font-size: 16px;
      line-height: 0.02em;
      text-decoration: none;
    }
   
    .contacts-link {
      color: #434455;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5em;   
      letter-spacing: 0.02em;
      text-decoration: none;
     }

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--link-hover-color);
}
 

/* Hero */
.hero {
  padding: 200px 0;
  background-color: var(--paragraph-primary-color);

  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  max-width: 695px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--background-primary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;

  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: var(--background-primary-color);

  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
}

.hero-btn:active,
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--contacts-link-color);
}


/* Features section */
.features {
  padding-bottom: 0;
  padding: 120px;
}




.item-title {
  color: var(--title-primary-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  

}

.description {
font-size: 16px;
line-height: 1.5em;
letter-spacing: 0.02em;

}






.foter-decoration {
width: 1440px;
height: 310px;
left: 0px;
top: 2283px;
background: #2E2F42;
}

.foter-decoration .description {
  color: var(--title-secondary-color);
}

/* features-list */
.features-list {
  display: flex;
  
}
.features-list .features-item {
  width: 300px;

  
}

.features-item:not(:last-child) {
  margin-right: 24px;
}




/* portfolio */
.portfolio-filter-bnt:hover,
.portfolio-filter-bnt:focus {
  background: var(--link-hover-color);
  color: var(--background-primary-color);
}

.portfolio-filter-bnt {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #4D5AE5;
  background-color: #f4f4fd;
  font-family: 'Roboto';
  

}

.portfolio-link {
  text-decoration: none;
}

/* друга тема */
.nav-list {
  display: flex ;
}

.nav-list .nav-link {
  outline: 1px solid red;
}
/* робмо відступи в новігації */
/* прибираємо крайню геометрію*/
.nav-list .nav-item:not(:last-child) {
  margin-right: 40px;
}

/* задаем падинг шапке, раздвиг горизонтально */
.nav-list .nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* ставим в ряд контакти*/
.contacts {
  display: flex;
  margin-left: 331px;
}
/*разделяем контакт и адрес  */
.contacts .contacts-item + .contacts-item {
  margin-left: 40px;
}

/* ставимо шапку в ряд */
.nav {
  display: flex;
  align-items: center;
}
/* задаем контактам поле горизонтальне */
.contacts .contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* робимо відступ від логотипа */
.nav-list {
  margin-left: 77px;
}



/* ховаємо елемент */
.container .section-title {
  display: none;
}


/* worc */
.section .section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.17;

}


.works-list {
  display: flex;
  justify-content: space-between;
}


.works-item:not(:first-child) {
  margin-left: 30px;
}


/* tiam */
.team {
  background-color: var(--background-primary-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.section {
  padding: 94px 0;
}