/* змінні */

:root {
  --paragraph-primary-color: #434455;
  --title-primary-color: #2e2f42;
  --title-secondary-color: #ffffff;
  --brand-color: #4d5ae5;
  --background-primary-color: #ffffff;
  --nav-link-color: #2e2f42;
  --contacts-link-color: #434455;
  --link-hover-color: #4d5ae5;
  --byn-background-color: #f4f4fd;
}

/* скидаємо верхні і нижні зовнішні відступи */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

  ul {
  margin: 0;
  padding: 0;
}  

img {
  display: block;
}

/* ========================== */




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*======header========= */
.header-conteiner {
  display: flex;
  justify-content: space-between;
}


.nav-list {
  display: flex;
 }
 
.nav-item {
  margin-right: 40;
 }

/* =======conteiner======== */

.conteiner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}


body {
  background-color: var(--background-primary-color);
  color: var(--background-primary-color);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}
.no-decoration {
  text-decoration: none;
}
.link-no-decoration {
  text-decoration: none;
} 
.nav-link-no-decoration {
  text-decoration: none;
}
.portfolio-link {
text-decoration: none;
}

.nav-link-no-decoration {
  text-decoration: none
}


/* logo */

/* .page-header {
  margin-bottom: 96px;
} */

.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800px; 
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--title-primary-color);
}

/* Navigation */

.nav-link {
  color: var(--nav-link-color);
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;
} 

.contacts-link {
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);
} 

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-hover-color);
}

.nav-item {
  color: #2E2F42;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;
} 

.nav-item:not(:last-child) {
  margin-right: 40px;
 }


 .nav-list {
  display: flex;
  margin: 0px;
  padding: 0px;
} 
 .nav-list .nav-link {
   display: block; 
  padding-top: 24px;
  padding-bottom: 24px;
 }
  /* ===contacts======= */

.contacts  {
  display: flex; 
  align-items: center;
}

 .contacts-item {
  margin-left: 40px;

}

.contacts-item:first-child {
  margin-left: 0;
}



.nav {
  display: flex;
  align-items: center;
}

/* ===відступ між лого та студіо==== */

.nav-list {
  margin-left: 77px;
}

/* Hero */

.hero {
background: #2E2F42;
padding: 192px 0;
text-align: center;

} 


.hero-title {
  max-width: 492px;
  margin: 0 auto;
  margin-bottom: 40px;

  color: var(--secondary-title-color);
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.36;

}


  

.hero-btn {
  background-color: var(--brand-color);
  font-family: inherit;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--title-secondary-color);
  cursor: pointer;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  
 
  color: var(--title-primary-color);

 
}



/* Features section*/

.section {
  padding-bottom: 120px;
}   

.features-list > .features-item {
  padding-bottom: 120px;
  padding-top: 120px;
  /* width: 264px; */
  outline: 1px solid rgb(0, 0, 0);
  flex-basis: calc((100% - 72px) / 4);
}

.features-list {
  padding: 0;
  margin: 0;
  list-style: 0;
  display: flex;
  outline: 1px solid tomato;
  gap: 24px;

}


.features-list .item-title {
 
  margin-bottom: 8px;
  margin-top: 0px;
}

.item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-primary-color);
}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-primary-color);
}

/* Works section*/

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0; 
}

.works-list {
  flex-basis: calc((100% - 48px)/3);
}


.works-list .works-item {
  justify-content: 24;
}

/* ставимо в один ряд */

.works-list {
  display: flex;
} 




/* Team section */
.section-team .teams {
  gap: 24px;
}
.team-list .description {
  margin-top: 8px;
}

.member-wrap {
 margin-top: 32px;
 margin-bottom: 32px;
 margin-left: 16px;
 margin-right: 16px;
 text-align: center;
 background-color: #ffffff;
}

.section-team {
  background: #F4F4FD;
  /* font-weight: 600px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px; */
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ======Portfolio======= */

.portfolio-filter-bnt {
  background-color: var(--byn-background-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  cursor: pointer;
  border-radius: 4px;
}

.portfolio-filter-bnt:hover,
.portfolio-filter-btn:focus {
  background-color: var(--brand-color);
  color: var(--background-primary-color);
}


.portfolio-filter {
  display: flex;
  align-items: center; 
  justify-content: center;

  margin-top: 84px;
  margin-bottom: 72px;
} 

.portfolio-filter-item {
  margin-right: 24px;
}

.portfolio-filter-item:last-child {
  margin-right: 0;
}

.text-background {
  color: var(--background-primary-color);
}


.portfolio-list {
  /* outline: 2px solid tomato; */
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list > .portfolio-item {
  /* outline: 2px solid tomato; */

 flex-basis: calc((100% - 48) / 3);
} 

.portfolio-card {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
border: 0,5px solid #F4F4FD;
}

/* Footer */

.footer {
  background-color: var(--title-primary-color);
}
.logo-footer {
  color: var(--background-primary-color);
}

.footer-decoration {
  padding-top: 117px;
  padding-bottom: 83px;
  padding-left: 221px;
  padding-right: 955px;
}

.footer-desc {
  padding-top: 16px;
}